body {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/background/guitar3.jpg);
}



.content {
    position: relative;
    margin: 10px auto;
    width: 900px;
    border-radius: 15px;
    transition: .5s;
    overflow: hidden;
    height: 80vh;
    overflow: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    .content::-webkit-scrollbar {
        display: none;
    }

.user-info a {
    font-family: 'Lora', serif;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
    color: black;
}

.explore-post p {
    margin: 0;
    padding: 0;
}

.explore-post {
    padding: 10px;
    border: solid black 1px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    transition: .5s;
    margin-bottom: 10px;
}

.explore-post-header {
    text-align: left;
    vertical-align: center;
    display: flex;
    margin: 10px;
    /*width: 800px;*/
}

#user-pic {
    border-radius: 50%;
    max-width: 70px;
    max-height: 70px;
}



.user-info {
    margin: 0 20px;
}

#username {
    font-size: 20px;
    font-weight: 600;
    /* letter-spacing: 0.15em;*/
    margin: 3px 0;
}

#address {
    font-size: 18px;
    letter-spacing: 0.05em;
    margin: 3px 0;
}

#hobbies {
    font-size: 16px;
    letter-spacing: 0.05em;
    margin: 3px 0;
}

.social-actions {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}

.social-img {
    max-height: 45px;
    max-width: 45px;
}

.chat-img {
    max-height: 40px;
    max-width: 40px;
}

.chat {
    margin: 5px 10px 5px 5px;
}

.counter {
    font-family: 'Lora', serif;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.explore-post-content {
    display: inline-block;
    float: left;
    text-align: left;
    margin-bottom: 10px;
    min-height: 440px;
    /*max-height: 540px;*/
    min-width: 440px;
    max-width: 440px;
}

.explore-post-comment {
    display: inline-block;
    align-content: start;
    float: left;
    margin: 0 10px;
    max-width: 390px;
    min-width: 390px;
    min-height: 505px;
    /*   height: 410px;*/
    max-height: 505px;
    overflow: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    .explore-post-comment::-webkit-scrollbar {
        display: none;
    }


.body {
    /*        display:inline;*/
    padding: 10px;
    width: 100%;
}

.explore-post-content p {
    padding: 10px 3px;
    text-align: justify;
    max-height: 70px;
    overflow: hidden;
}

/* .explore-post-content p:hover {
        max-height: 100vh;
     }*/


.hobby-pic {
    max-width: 440px;
    max-height: 440px;
    border-radius: 15px;
}



.input-field {
    width: 370px;
    padding: 10px 3px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-family: 'Lora', serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.input {
    display: inline-block;
}

.explore-post-comment button[type="submit"] {
    padding: 7px 0 0 5px;
    border: none;
    background: inherit;
    cursor: pointer;
    position: absolute;
}


.comment-add-input button[type="submit"] {
    padding: 7px 0 0 5px;
    border: none;
    background: inherit;
    cursor: pointer;
    position: absolute;
}

.comment-add-input {
    max-width: 390px;
    display: inline-block;
    align-content: start;
    float: left;
    margin: 0 10px;
}

.explore-post-header button[type="submit"] {
    padding: 0;
    border: none;
    background: inherit;
    cursor: pointer;
}

#submit-btn {
    max-height: 30px;
    max-width: 30px;
}

.footer {
    text-align: left;
    max-width: 440px;
    margin: 10px 0px 5px 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.pages {
    /*  position: absolute;
        bottom: 10px;*/
    margin: 10px auto;
    /*padding: 0 20px;*/
    text-align: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    transition: .5s;
    /*    left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;*/
    max-width: 440px;
}

.comments {
    display: inline-block;
    align-content: start;
    /* float: left; */
    margin: 0 10px;
    max-width: 390px;
    min-width: 390px;
    /* min-height: 505px; */
    /* height: 410px; */
    /* max-height: 505px; */
    /* overflow: auto; */
}

.pages a {
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    font-size: 20px;
    transition: .5s linear;
}


.comment {
    text-align: left;
    display: flex;
    align-items: normal;
    margin-bottom: 10px;
}

.comment-user-pic {
    margin-top: 5px;
    border-radius: 50%;
    max-width: 35px;
    max-height: 35px;
    vertical-align: middle;
    /*  float: left;*/
}

.comment-username {
    font-weight: 600;
}

.comment-content {
    margin-left: 10px;
    text-align: justify;
}

.comment-date {
    color: #8e8e8e;
    margin-left: auto;
    margin-right: 0;
}
