@model Domain.ViewModels.HobbyViewModel



<form asp-action="AddHobbies" method="post">
    <table>

        @for (int i = 0; i < Model.addHobbiesList.Count; i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(m => m.addHobbiesList[i].IsSelected)
                    @Model.addHobbiesList[i].Name
                    @Html.HiddenFor(m => m.addHobbiesList[i].Id)
                    @Html.HiddenFor(m => m.addHobbiesList[i].Name)
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="submit" />
</form>
