@model List<Domain.Models.Hobby>
@{
    ViewData["Title"] = "Index";
}


<h1>Hi, @User.Identity.Name</h1>


<h3>Hobbies list:</h3>
<form asp-action="RemoveHobbyFromList" method="post">
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Hobby</th>
            <th></th>
        </tr>
        @foreach (var hobby in Model)
        {
            <tr>
                <td>@hobby.Name</td>
             
                <td>
                    <button type="submit" class="btn btn-sm btn-danger" name="subHobbyId" value="@hobby.Id">Удалить</button>
                </td>

            </tr>
        }
    </table>
</form>