@model HOBBYNetMVC.Models.UserSettings.ChangePhoneNumberViewModel
@{
    ViewBag.Title = "Изменение номера телефона";
}
<h2>Изменение номера телефона для пользователя @Model.Email</h2>
<form asp-action="ChangePhoneNumber" asp-controller="UserSettings">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Номер телефона</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>