<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HOBBYNetMVC</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/post.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
    

</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <div class="logo">
                    <img src="~/images/site_icon.png" alt="HobbyNet" class="logo" height="64" width="64" />
                    <div class="tagline">
                        <h2>HOBBYNet</h2>
                        <h3>To be active!</h3>
                    </div>
                </div>


               
                <ul class="menu">

                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>
                            <form class="search-area" asp-action="SearchUser" asp-controller="User" method="post">
                                <input type="text" name="searchText" placeholder="Find user" />
                                <button type="submit">
                                    <img class="search-img" src="~/images/search.png" />
                                </button>
                            </form>

                        </li>


                        <li>
                            <a asp-controller="User" asp-action="Profile">Profile</a>
                            <ul class="submenu">
                                <li>
                                    <a asp-controller="User" asp-action="Profile">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="User" asp-action="AddPost">Add post</a>
                                </li>
                                <li>
                                    <a asp-controller="User" asp-action="Friends">Friends</a>
                                </li>
                                <li>
                                    <a asp-controller="User" asp-action="FriendRequests">Friend requests</a>
                                </li>
                                <li>
                                    <a asp-controller="User" asp-action="UsersList">Users list</a>
                                </li>
                                <li>
                                    <a asp-controller="Hobby" asp-action="Index">My hobbies</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a asp-controller="ExplorePosts" asp-action="Index">Explore</a>
                            <ul class="submenu">
                                <li>
                                    <a asp-controller="ExplorePosts" asp-action="Index">Posts</a>
                                </li>
                                <li>
                                    <a asp-controller="ExplorePosts" asp-action="RecommendedPosts">Recommendations</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a asp-controller="Advert" asp-action="Index">Adverts</a>
                            <ul class="submenu">
                                <li>
                                    <a asp-controller="Advert" asp-action="Index">All adverts</a>
                                </li>
                                <li>
                                    <a asp-controller="Advert" asp-action="UserAdverts">Your adverts</a>
                                </li>
                                <li>
                                    <a asp-controller="Advert" asp-action="AddAdvert">Add advert</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a asp-controller="UserSettings" asp-action="Index">Settings</a>
                            <ul class="submenu">
                                <li>
                                    <a asp-controller="UserSettings" asp-action="Index">User Settings</a>
                                </li>

                                @if (User.IsInRole("admin"))
                                {
                                    <li>
                                        <a asp-controller="Admin" asp-action="Index">Admin panel</a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                @*<input type="submit" value="Logout" />*@
                                <button type="submit">
                                    <img class="logout-img" src="~/images/logout.png" />
                                </button>
                            </form>

                        </li>

                    }
                    else
                    {
                        @*<li> <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></li>*@
                        @*<li> <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a></li>*@
                    }

                </ul>


                    @*<ul class="menu">
                            <li> <a><input type="submit" value="Logout" /></a></li>
                        </ul>*@
               
            </nav>
        </div>



    </header>
    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer>
        @*© 2021 HOBBYNet*@
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
