@model Domain.ViewModels.AccountViewModel

<div class="hero">
    <div class="form-box" id="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Log In</button>
            <button type="button" class="toggle-btn" onclick="register()">Register</button>
        </div>
        <div class="social-icons">
            <img src="~/images/gp.png" />
        </div>
        <form id="login" class="input-group" method="post" 
              asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.loginViewModel.ReturnUrl">
            <input type="text" class="input-field" placeholder="Email" required asp-for="loginViewModel.Email">
            <input type="password" class="input-field" id="login-password" placeholder="Password" required asp-for="loginViewModel.Password">
            <div class="show-password">
                <input type="checkbox" class="check-box" onclick="ShowPassword()">
                <span>Show password</span>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>

        <form id="register" class="input-group" method="post" 
              asp-controller="Account" asp-action="Register">
            <input type="text" class="input-field" placeholder="First name" required asp-for="registerViewModel.FirstName">
            <input type="text" class="input-field" placeholder="Last name" required asp-for="registerViewModel.LastName">
            <input type="email" class="input-field" placeholder="Email" required asp-for="registerViewModel.Email">
            <input type="password" class="input-field" placeholder="Enter password" required asp-for="registerViewModel.Password">
            <input type="password" class="input-field" placeholder="Password confirm" required asp-for="registerViewModel.PasswordConfirm">
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>

<script>
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    var z = document.getElementById("btn");
    var p = document.getElementById("form-box");

    function login() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";
        p.style.height = "360px";
    }

    function register() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
        p.style.height = "485px";
    }

    function ShowPassword() {
        var x = document.getElementById("login-password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>

<style>

    body {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/background/login.jpg);
    }
    /* .hero {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/banner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
    }*/

    .form-box {
        width: 380px;
        height: 360px;
        position: relative;
        margin: 6% auto;
        padding: 5px;
        background: #fff;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 15px;
        overflow: hidden;
        transition: .5s;
    }

    .button-box {
        width: 220px;
        margin: 35px auto;
        position: relative;
        box-shadow: 0 0 20px 9px #ff61241f;
        border-radius: 30px;
    }

    .toggle-btn {
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
    }

    #btn {
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: linear-gradient(to right, #ff105f, #ffaf06);
        border-radius: 30px;
        transition: .5s;
    }

    .social-icons {
        margin: 30px auto;
        text-align: center;
    }

        .social-icons img {
            width: 30px;
            margin: 0 12px;
            box-shadow: 0 0 20px 0 #7f7f7f3d;
            cursor: pointer;
            border-radius: 50%;
        }

    .input-group {
        top: 155px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }

    .input-field {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }

    .submit-btn {
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        margin-top: 30px;
        background: linear-gradient(to right, #ff105f, #ffaf06);
        border: 0;
        outline: none;
        border-radius: 30px;
    }

    .check-box {
        margin: 0 10px 0 0;
    }

    span {
        color: #777;
        font-size: 12px;        
    }

    .show-password {
        align-items: center;
        display: flex;
    }

    #login {
        left: 50px;
    }

    #register {
        left: 450px;
    }
</style>

